#myCanvas{
    border:1px solid #000000;
    /* background-color: red; */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

button{
    position: absolute;
    top:68%;
    left:66%
}

h1{
    text-align: center;
}